@font-face {
  font-family: "Montserrat-Regular";
  src: url("../font/Montserrat-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat-Medium";
  src: url("../font/Montserrat-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat-Bold";
  src: url("../font/Montserrat-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat-Black";
  src: url("../font/Montserrat-Black.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat-Italic";
  src: url("../font/Montserrat-Italic.ttf") format("truetype");
}
* {
  margin: 0;
  padding: 0;
  border: none;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #b14f28;
}

.main-color {
  color: #b14f28;
}

.alt-color {
  color: #231f20;
}

.bg-main {
  background: #b14f28;
}

a {
  font-family: "Montserrat-Regular";
  color: #231f20 !important;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}
a:focus {
  outline: 0 solid;
}
a:hover {
  text-decoration: none;
  color: #a13e17 !important;
}

img {
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
label {
  margin-bottom: 0;
  font-family: "Montserrat-Regular";
}

html,
body {
  font-weight: 400;
  font-family: "Montserrat-Regular" !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  position: relative;
  width: 100vw;
  overflow-x: hidden;
}

p {
  font-family: "Montserrat-Regular";
  margin-bottom: 0;
  color: #231f20;
}

.main-button {
  cursor: pointer;
  text-transform: uppercase;
  border: 1px solid #b14f28;
  color: #fff;
  padding: 0.75rem 1rem;
  background-color: #b14f28;
  border-radius: 0.25rem;
  transition: background-color 0.3s ease-in-out;
}
.main-button:hover {
  background: #a13e17;
}

.inverse-main-button {
  cursor: pointer;
  text-transform: uppercase;
  border: 1px solid #b14f28;
  color: #b14f28;
  padding: 0.75rem 1rem;
  background: #fff;
  border-radius: 0.25rem;
  transition: 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}
.inverse-main-button:hover {
  background-color: #231f20;
  color: #fff;
}

button {
  font-family: "Montserrat-Regular" !important;
}

input:focus,
textarea:focus,
button:focus {
  outline: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "Montserrat-Regular";
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}
input:-webkit-autofill:hover, input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}

.mobile-sidebar {
  display: none;
  position: absolute;
  top: 76px;
  left: 0;
  width: 0px;
  height: 100vh;
  z-index: 2;
  background: #231f20;
  flex-direction: column;
}
.mobile-sidebar a {
  color: #fff !important;
}
.mobile-sidebar a:hover {
  text-decoration: none;
  color: #a13e17 !important;
}
.mobile-sidebar .sidebar-nav {
  display: block;
  padding: 10px 20px;
  white-space: nowrap;
}
.mobile-sidebar .sidebar-collapse {
  padding: 0 0 0 30px;
  display: flex;
  flex-direction: column;
}

.search-field {
  display: none;
  position: absolute;
  top: 75.98px;
  left: 0;
  width: 100%;
  height: 0;
  z-index: 2;
}
@media screen and (min-width: 992px) {
  .search-field {
    top: 97px;
  }
}
.search-field .search-field-group {
  gap: 10px;
}
.search-field .search-field-group input,
.search-field .search-field-group button {
  border: 1px solid #b14f28;
  background: #fff;
}
.search-field .search-field-group button {
  background: #b14f28;
  color: white;
  align-self: stretch;
}

.main-header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;
  background: white;
}
.main-header .main-nav {
  display: none;
}
@media screen and (min-width: 992px) {
  .main-header .main-nav {
    display: flex;
    gap: 20px;
  }
  .main-header .main-nav a {
    font-family: "Montserrat-Medium";
    font-size: 1.25rem;
    white-space: nowrap;
  }
  .main-header .main-nav .nav-logo-desktop {
    margin: 0 1rem;
  }
  .main-header .main-nav .nav-logo-desktop img {
    max-height: 65px;
  }
}
.main-header .main-header-right-nav {
  display: none;
}
.main-header .main-header-right-nav svg {
  width: 26px;
  margin: 0 5px;
  cursor: pointer;
}
@media screen and (min-width: 992px) {
  .main-header .main-header-right-nav {
    display: flex;
  }
}
.main-header .mobile-nav {
  position: relative;
}
@media screen and (min-width: 992px) {
  .main-header .mobile-nav {
    display: none;
  }
}
.main-header .mobile-nav button {
  background: none;
}
.main-header .mobile-nav i {
  font-size: 25px;
}
.main-header .mobile-nav .mobile-nav-logo {
  max-width: 200px;
}
.main-header .mobile-nav .mobile-nav-right {
  justify-content: right;
  gap: 15px;
}

.page-container {
  padding-top: 74.98px;
}
@media screen and (min-width: 992px) {
  .page-container {
    padding-top: 86.72px;
  }
}
@media screen and (min-width: 1200px) {
  .page-container {
    padding-top: 97.31px;
  }
}

.banner-slide {
  width: 100%;
}
.banner-slide .slick-slide {
  height: auto;
}
.banner-slide .slick-track {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
}

.category-box {
  cursor: pointer;
  transition: transform 0.4s ease-in-out;
  position: relative;
  width: 100%;
}
.category-box:hover {
  transform: scale(1.02);
}
.category-box .category-box-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  color: white;
  padding: 1rem;
}

.gallery-block {
  cursor: pointer;
  transition: transform 0.4s ease-in-out;
}
.gallery-block:hover {
  transform: scale(1.02);
}

.gallery-bg {
  position: absolute;
  top: 100px;
  left: -100px;
  z-index: -1;
}
.gallery-bg img {
  width: 200px;
}

.gallery-bg-2 {
  position: absolute;
  top: 700px;
  right: -100px;
  z-index: -1;
}
.gallery-bg-2 img {
  width: 200px;
}

.gallery-bg-3 {
  position: absolute;
  top: 1300px;
  left: -100px;
  z-index: -1;
}
.gallery-bg-3 img {
  width: 200px;
}

.gallery-bg-4 {
  position: absolute;
  top: 1900px;
  right: -100px;
  z-index: -1;
}
.gallery-bg-4 img {
  width: 200px;
}

.gallery-bg-5 {
  position: absolute;
  top: 2500px;
  left: -100px;
  z-index: -1;
}
.gallery-bg-5 img {
  width: 200px;
}

/* the slides */
.slick-slide {
  margin: 0 10px;
  height: auto;
  margin-bottom: 1rem;
}

/* the parent */
.slick-list {
  margin: 0 -10px;
}

.gap-1 {
  gap: 5px;
}

.gap-2 {
  gap: 10px;
}

.size-btn {
  padding: 0 5px;
  background: none;
  border: 1px solid #231f20;
  cursor: pointer;
  transition: 0.2s background-color ease-in-out;
}
.size-btn:hover {
  border: 1px solid #b14f28;
  color: white;
  background-color: #b14f28;
}

.product-block .product-header {
  background-color: #b14f28;
  color: white;
  padding: 0.5rem 20px;
}
.product-block .product-body .product-content {
  margin-bottom: 1rem;
}
.product-block .product-body .product-content .product-thumb {
  position: relative;
  opacity: 1;
  transition: 0.3s opacity ease-in-out;
}
.product-block .product-body .product-content .product-thumb:hover {
  opacity: 0.8;
}
.product-block .product-body .product-content .product-thumb .discount-tag {
  position: absolute;
  top: 10px;
  right: 10px;
}
.product-block .product-body .product-content .product-info {
  flex-direction: column;
  gap: 5px;
}
@media screen and (min-width: 992px) {
  .product-block .product-body .product-content .product-info {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
.product-block .product-body .product-content .product-info .product-title {
  font-size: 1rem;
  cursor: pointer;
}
.product-block .product-body .product-content .product-info .discount-price {
  font-size: 0.85rem;
  color: #b14f28;
  text-decoration: line-through;
  font-style: italic;
}
.product-block .product-body .product-content .product-info .product-icon button {
  background: none;
  cursor: pointer;
}
.product-block .product-body .product-content .product-info .product-icon button svg {
  transition: 0.3s color ease-in-out;
}
.product-block .product-body .product-content .product-info .product-icon button svg:hover {
  color: #b14f28;
}

#notifications {
  cursor: pointer;
  position: fixed;
  right: 0px;
  z-index: 9999;
  bottom: 0px;
  margin-bottom: 22px;
  margin-right: 15px;
  max-width: 300px;
}

.page-item.active .page-link {
  background-color: #b14f28;
  border-color: #b14f28;
  color: white !important;
}/*# sourceMappingURL=styles.css.map */