@font-face {
  font-family: "Montserrat-Regular";
  src: url("../font/Montserrat-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat-Medium";
  src: url("../font/Montserrat-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat-Bold";
  src: url("../font/Montserrat-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat-Black";
  src: url("../font/Montserrat-Black.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat-Italic";
  src: url("../font/Montserrat-Italic.ttf") format("truetype");
}
* {
  margin: 0;
  padding: 0;
  border: none;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #b14f28;
}

.main-color {
  color: #b14f28;
}

.alt-color {
  color: #231f20;
}

.bg-main {
  background: #b14f28;
}

a {
  font-family: "Montserrat-Regular";
  color: #231f20 !important;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}
a:focus {
  outline: 0 solid;
}
a:hover {
  text-decoration: none;
  color: #a13e17 !important;
}

img {
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
label {
  margin-bottom: 0;
  font-family: "Montserrat-Regular";
}

html,
body {
  font-weight: 400;
  font-family: "Montserrat-Regular" !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

body {
  position: relative;
  width: 100vw;
}

p {
  font-family: "Montserrat-Regular";
  margin-bottom: 0;
  color: #231f20;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.main-button {
  cursor: pointer;
  text-transform: uppercase;
  border: 1px solid #b14f28;
  color: #fff;
  padding: 0.75rem 1rem;
  background-color: #b14f28;
  border-radius: 0.25rem;
  transition: background-color 0.3s ease-in-out;
}
.main-button:hover {
  background: #a13e17;
}

.inverse-main-button {
  cursor: pointer;
  text-transform: uppercase;
  border: 1px solid #b14f28;
  color: #b14f28;
  padding: 0.75rem 1rem;
  background: #fff;
  border-radius: 0.25rem;
  transition: 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}
.inverse-main-button:hover {
  background-color: #231f20;
  color: #fff;
}

button {
  font-family: "Montserrat-Regular" !important;
}

input:focus,
textarea:focus,
button:focus {
  outline: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "Montserrat-Regular";
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}
input:-webkit-autofill:hover, input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}

.mobile-sidebar {
  display: none;
  position: absolute;
  top: 76px;
  left: 0;
  width: 0px;
  height: 100vh;
  z-index: 2;
  background: #231f20;
  flex-direction: column;
}
.mobile-sidebar a {
  color: #fff !important;
}
.mobile-sidebar a:hover {
  text-decoration: none;
  color: #a13e17 !important;
}
.mobile-sidebar .sidebar-nav {
  display: block;
  padding: 10px 20px;
  white-space: nowrap;
}
.mobile-sidebar .sidebar-collapse {
  padding: 0 0 0 30px;
  display: flex;
  flex-direction: column;
}

.search-field {
  display: none;
  position: absolute;
  top: 74.98px;
  left: 0;
  width: 100%;
  height: 0;
  z-index: 2;
}
@media screen and (min-width: 992px) {
  .search-field {
    top: 97px;
  }
}
.search-field .search-field-group {
  gap: 10px;
}
.search-field .search-field-group input,
.search-field .search-field-group button {
  border: 1px solid #b14f28;
  background: #fff;
}
.search-field .search-field-group button {
  background: #b14f28;
  color: white;
  align-self: stretch;
}

.main-header {
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 3;
  background: white;
}
.main-header .main-nav {
  display: none;
}
@media screen and (min-width: 992px) {
  .main-header .main-nav {
    display: flex;
    gap: 20px;
  }
  .main-header .main-nav a {
    font-family: "Montserrat-Medium";
    font-size: 1.25rem;
    white-space: nowrap;
  }
  .main-header .main-nav .nav-logo-desktop {
    margin: 0 1rem;
  }
  .main-header .main-nav .nav-logo-desktop img {
    max-height: 65px;
  }
}
.main-header .main-header-right-nav {
  display: none;
}
.main-header .main-header-right-nav svg {
  width: 26px;
  margin: 0 5px;
  cursor: pointer;
}
@media screen and (min-width: 992px) {
  .main-header .main-header-right-nav {
    display: flex;
  }
}
.main-header .mobile-nav {
  position: relative;
}
@media screen and (min-width: 992px) {
  .main-header .mobile-nav {
    display: none;
  }
}
.main-header .mobile-nav button {
  background: none;
}
.main-header .mobile-nav i {
  font-size: 25px;
}
.main-header .mobile-nav .mobile-nav-logo {
  max-width: 200px;
}
.main-header .mobile-nav .mobile-nav-right {
  justify-content: right;
  gap: 5px;
}

.page-container {
  padding-top: 74.98px;
}
@media screen and (min-width: 992px) {
  .page-container {
    padding-top: 86.72px;
  }
}
@media screen and (min-width: 1200px) {
  .page-container {
    padding-top: 97.31px;
  }
}

.banner-slide {
  width: 100%;
}
.banner-slide .slick-slide {
  height: auto;
}
.banner-slide .slick-track {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
}

.category-box {
  cursor: pointer;
  transition: transform 0.4s ease-in-out;
  position: relative;
  width: 100%;
}
.category-box:hover {
  transform: scale(1.02);
}
.category-box .category-box-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  color: white;
  padding: 1rem;
}

.gallery-block {
  cursor: pointer;
  transition: transform 0.4s ease-in-out;
}
.gallery-block:hover {
  transform: scale(1.02);
}

.bigger-block {
  cursor: pointer;
  transition: transform 0.4s ease-in-out;
}
.bigger-block:hover {
  transform: scale(1.02);
}

.gallery-bg {
  position: absolute;
  top: 100px;
  left: -100px;
  z-index: -1;
}
.gallery-bg img {
  width: 200px;
}

.gallery-bg-2 {
  position: absolute;
  top: 700px;
  right: -100px;
  z-index: -1;
}
.gallery-bg-2 img {
  width: 200px;
}

.gallery-bg-3 {
  position: absolute;
  top: 1300px;
  left: -100px;
  z-index: -1;
}
.gallery-bg-3 img {
  width: 200px;
}

.gallery-bg-4 {
  position: absolute;
  top: 1900px;
  right: -100px;
  z-index: -1;
}
.gallery-bg-4 img {
  width: 200px;
}

.gallery-bg-5 {
  position: absolute;
  top: 2500px;
  left: -100px;
  z-index: -1;
}
.gallery-bg-5 img {
  width: 200px;
}

/* the slides */
.slick-slide {
  margin: 0 10px;
  height: auto;
  margin-bottom: 1rem;
}

/* the parent */
.slick-list {
  margin: 0 -10px;
}

.gap-1 {
  gap: 5px;
}

.gap-2 {
  gap: 10px;
}

.size-btn {
  padding: 0 5px;
  background: none;
  border: 1px solid #231f20;
  cursor: pointer;
  transition: 0.2s background-color ease-in-out;
}
.size-btn:hover {
  border: 1px solid #b14f28;
  color: white;
  background-color: #b14f28;
}

.product-block .product-header {
  background-color: #b14f28;
  color: white;
  padding: 0.5rem 20px;
}

.product-content {
  margin-bottom: 1rem;
}
.product-content .product-thumb {
  position: relative;
  opacity: 1;
  transition: 0.3s opacity ease-in-out;
}
.product-content .product-thumb:hover {
  opacity: 0.8;
}
.product-content .product-thumb .discount-tag {
  position: absolute;
  top: 10px;
  right: 10px;
}
.product-content .product-info {
  flex-direction: column;
  gap: 5px;
}
@media screen and (min-width: 992px) {
  .product-content .product-info {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
.product-content .product-info .product-title {
  font-size: 1rem;
  cursor: pointer;
}
.product-content .product-info .product-icon button {
  background: none;
  cursor: pointer;
}
.product-content .product-info .product-icon button svg {
  transition: 0.3s color ease-in-out;
}
.product-content .product-info .product-icon button svg:hover {
  color: #b14f28;
}

.discount-price {
  font-size: 0.85rem;
  color: #b14f28;
  text-decoration: line-through;
  font-style: italic;
}

#notifications {
  cursor: pointer;
  position: fixed;
  right: 0px;
  z-index: 9999;
  bottom: 0px;
  margin-bottom: 22px;
  margin-right: 15px;
  max-width: 300px;
}

.page-item.active .page-link {
  background-color: #b14f28;
  border-color: #b14f28;
  color: white !important;
}

.slick-initialized {
  overflow: hidden;
}

.swiper {
  width: 100%;
  height: auto;
}

.product-gallery ul {
  list-style: none outside none;
  padding-left: 0;
  margin-bottom: 0;
}
.product-gallery li {
  display: block;
  float: left;
  margin-right: 6px;
  cursor: pointer;
}
.product-gallery img {
  display: block;
  height: auto;
  max-width: 100%;
}

.lSSlideOuter .lSPager.lSGallery li.active,
.lSSlideOuter .lSPager.lSGallery li:hover {
  border: 1px solid #b14f28;
}

.product-info .product-color-pick {
  display: flex;
  gap: 10px;
  align-items: center;
}
.product-info .product-color-pick .product-color {
  width: 30px;
  height: 30px;
  border-radius: 9999px;
  cursor: pointer;
  transition: 0.2s opacity ease-in-out;
}
.product-info .product-color-pick .product-color.active {
  border: 2px solid black;
}
.product-info .product-color-pick .product-color:hover {
  opacity: 0.8;
}
.product-info .product-color-pick #product-color-1 {
  background-color: #a13e17;
}
.product-info .product-color-pick #product-color-2 {
  background-color: darkslateblue;
}
.product-info .product-color-pick #product-color-3 {
  background-color: black;
}
.product-info .product-color-pick #product-color-4 {
  background-color: darkolivegreen;
}
.product-info .product-size-pick {
  flex-direction: column;
  gap: 10px;
  align-items: baseline;
}
.product-info .product-size-pick .see-size-chart-btn {
  background: none;
  text-decoration: underline;
  cursor: pointer;
  font-style: italic;
}
@media screen and (min-width: 768px) {
  .product-info .product-size-pick {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}
.product-info .product-quantity-pick .quantity-btn {
  width: 30px;
  height: 30px;
  border: 1px solid black;
  font-weight: 600;
}
.product-info .product-quantity-pick .quantity-input {
  width: 50px;
  padding: 0 10px;
  text-align: center;
  height: 30px;
}

#lightSlider {
  overflow-x: hidden;
}

.about-us .about-us-logo {
  width: 100%;
}
.about-us h4 {
  font-size: 1rem;
  text-align: justify;
}
@media screen and (min-width: 992px) {
  .about-us .about-us-logo {
    width: 25%;
  }
  .about-us h4 {
    font-size: 1.5rem;
    text-align: center;
  }
}

.contact-us .contact-area {
  background: #faeee9;
}
.contact-us .contact-area .contact-area-label {
  color: #231f20;
  font-size: 1rem;
  font-weight: 700;
  display: block;
  margin-bottom: 0.25rem;
}
.contact-us .contact-area .contact-area-input {
  width: 100%;
  border: 1.5px solid rgba(90, 113, 132, 0.25);
  box-sizing: border-box;
  border-radius: 8px;
  padding: 15px 20px;
  margin-bottom: 10px;
}
.contact-us .contact-area .contact-area-input:focus {
  border: 1px solid #b14f28;
  transition: 0.2s ease-in;
}
@-webkit-keyframes cart-anm-t-b {
  0% {
    top: 18px;
  }
  100% {
    top: calc(100% - 50px);
  }
}
@keyframes cart-anm-t-b {
  0% {
    top: 18px;
  }
  100% {
    top: calc(100% - 50px);
  }
}
.contact-us .contact-info {
  background: #faeee9;
  border: 1px solid #c5babd;
  box-sizing: border-box;
  filter: drop-shadow(2px 12px 70px rgba(0, 0, 0, 0.08));
  padding: 20px 15px;
  position: relative;
}
.contact-us .contact-info::before {
  width: 1px;
  height: 32px;
  position: absolute;
  content: "";
  background: #b14f28;
  left: -1px;
  -webkit-animation: cart-anm-t-b 4s linear infinite alternate;
          animation: cart-anm-t-b 4s linear infinite alternate;
}

.faq .card-header {
  background-color: #faeee9;
}
.faq .faq-btn {
  width: 100%;
  text-align: left;
  background: none;
  font-weight: 600;
}
.faq .faq-btn:focus {
  box-shadow: none;
}

.news-block .news-thumb {
  height: 220px;
}
.news-block .news-thumb img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.cart-detail .cart-detail-table .cart-product-thumb {
  height: 100px;
}
.cart-detail .cart-detail-table .cart-product-thumb img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.cart-detail .cart-detail-table td {
  vertical-align: middle;
}
.cart-detail .cart-detail-table .cart-quantity-input {
  height: 40px;
  padding: 0 10px;
  margin-right: 5px;
  transition: 0.2 border ease-in-out;
}
.cart-detail .cart-detail-table .cart-quantity-input:focus {
  border: 1px solid #b14f28 !important;
}
.cart-detail .cart-detail-table .cart-quantity-btn {
  width: 20px;
  height: 20px;
  cursor: pointer;
  transition: 0.2s background-color ease-in-out;
  transition: 0.1s color ease-in-out;
}
.cart-detail .cart-detail-table .cart-quantity-btn:hover {
  background-color: #b14f28;
  color: white;
}
.cart-detail .cart-detail-table .cart-delete-btn {
  cursor: pointer;
  background: none;
}
.cart-detail .discount-coupon-input {
  height: 50px;
  padding: 0 20px;
}
.cart-detail .discount-coupon-input:focus {
  border: 1px solid #b14f28 !important;
}
.cart-detail .cart-total-price-list {
  text-align: left;
}
@media screen and (min-width: 992px) {
  .cart-detail .cart-total-price-list {
    text-align: right;
  }
}
.cart-detail .cart-nav-btn-group {
  gap: 10px;
}

.go-to-top-btn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
}
.go-to-top-btn button {
  background: none;
  width: 50px;
  height: 50px;
  background-color: #231f20;
  border: 1px solid #231f20;
  color: white;
  cursor: pointer;
  transition: 0.3s background-color ease-in-out;
}
.go-to-top-btn button:hover {
  background-color: #b14f28;
}
@-webkit-keyframes quick-alo-circle-img-anim {
  0% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
  }
  10% {
    -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
  }
  20% {
    -webkit-transform: rotate(25deg) scale(1) skew(1deg);
  }
  30% {
    -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
  }
  40% {
    -webkit-transform: rotate(25deg) scale(1) skew(1deg);
  }
  50% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
  }
  100% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
  }
}
.social-group {
  position: fixed;
  bottom: 20px;
  left: 20px;
  display: flex;
  gap: 10px;
}
@media screen and (min-width: 992px) {
  .social-group {
    flex-direction: column;
  }
}
.social-group a {
  cursor: pointer;
}
.social-group .phone {
  border-radius: 50%;
  background: #64bc46;
  margin-top: 0px;
  padding: 6px;
  -webkit-animation: quick-alo-circle-img-anim 1s infinite ease-in-out;
          animation: quick-alo-circle-img-anim 1s infinite ease-in-out;
}/*# sourceMappingURL=styles.css.map */