// Import Font Face

@font-face {
  font-family: "Montserrat-Regular";
  src: url("../font/Montserrat-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat-Medium";
  src: url("../font/Montserrat-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat-Bold";
  src: url("../font/Montserrat-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat-Black";
  src: url("../font/Montserrat-Black.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat-Italic";
  src: url("../font/Montserrat-Italic.ttf") format("truetype");
}

// Montserrat Font Variables

$montserrat-400: "Montserrat-Regular";
$montserrat-500: "Montserrat-Medium";
$montserrat-700: "Montserrat-Bold";
$montserrat-900: "Montserrat-Black";
$montserrat-italic: "Montserrat-Italic";

// Main Color Variables
$pancharm-main: #b14f28;
$pancharm-alt: #231f20;

// Breakpoint Mixin

$min-xs: 375px;
$min-sm: 576px;
$min-md: 768px;
$min-lg: 992px;
$min-xl: 1200px;

// min screen 375px
@mixin min-xs {
  @media screen and (min-width: $min-xs) {
    @content;
  }
}

// min screen 576px
@mixin min-sm {
  @media screen and (min-width: $min-sm) {
    @content;
  }
}

// min screen 768px
@mixin min-md {
  @media screen and (min-width: $min-md) {
    @content;
  }
}

// min screen 992px
@mixin min-lg {
  @media screen and (min-width: $min-lg) {
    @content;
  }
}

// min screen 1200px
@mixin min-xl {
  @media screen and (min-width: $min-xl) {
    @content;
  }
}

* {
  margin: 0;
  padding: 0;
  border: none;
}

// Scroll bar custom
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: $pancharm-main;
}

// Main & Alt color classes

.main-color {
  color: $pancharm-main;
}

.alt-color {
  color: $pancharm-alt;
}

.bg-main {
  background: $pancharm-main;
}

// Transform bigger x1.02 for product block
@mixin bigger-block {
  cursor: pointer;
  transition: transform 0.4s ease-in-out;
  &:hover {
    transform: scale(1.02);
  }
}

a {
  font-family: $montserrat-400;
  color: $pancharm-alt !important;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
  &:focus {
    outline: 0 solid;
  }
  &:hover {
    text-decoration: none;
    color: #a13e17 !important;
  }
}

img {
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
label {
  margin-bottom: 0;
  font-family: $montserrat-400;
}

html,
body {
  font-weight: 400;
  font-family: $montserrat-400 !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

body {
  position: relative;
  width: 100vw;
}

p {
  font-family: $montserrat-400;
  margin-bottom: 0;
  color: $pancharm-alt;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.main-button {
  cursor: pointer;
  text-transform: uppercase;
  border: 1px solid $pancharm-main;
  color: #fff;
  padding: 0.75rem 1rem;
  background-color: $pancharm-main;
  border-radius: 0.25rem;
  transition: background-color 0.3s ease-in-out;
  &:hover {
    background: #a13e17;
  }
}

.inverse-main-button {
  cursor: pointer;
  text-transform: uppercase;
  border: 1px solid $pancharm-main;
  color: $pancharm-main;
  padding: 0.75rem 1rem;
  background: #fff;
  border-radius: 0.25rem;
  transition: 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
  &:hover {
    background-color: $pancharm-alt;
    color: #fff;
  }
}

button {
  font-family: $montserrat-400 !important;
}

input:focus,
textarea:focus,
button:focus {
  outline: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: $montserrat-400;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset !important;

  &:hover,
  &:focus {
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
  }
}

.mobile-sidebar {
  display: none;
  position: absolute;
  top: 76px;
  left: 0;
  width: 0px;
  height: 100vh;
  z-index: 2;
  background: $pancharm-alt;
  flex-direction: column;
  a {
    color: #fff !important;
    &:hover {
      text-decoration: none;
      color: #a13e17 !important;
    }
  }
  .sidebar-nav {
    display: block;
    padding: 10px 20px;
    white-space: nowrap;
  }
  .sidebar-collapse {
    padding: 0 0 0 30px;
    display: flex;
    flex-direction: column;
  }
}

.search-field {
  display: none;
  position: absolute;
  top: 74.98px;
  left: 0;
  width: 100%;
  height: 0;
  z-index: 2;
  @include min-lg {
    top: 97px;
  }
  .search-field-group {
    gap: 10px;
    input,
    button {
      border: 1px solid $pancharm-main;
      background: #fff;
    }
    button {
      background: $pancharm-main;
      color: white;
      align-self: stretch;
    }
  }
}

.main-header {
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 3;
  background: white;
  // background: rgb(161, 62, 23);
  // background: linear-gradient(
  //   90deg,
  //   rgba(161, 62, 23, 1) 0%,
  //   rgba(255, 255, 255, 1) 50%,
  //   rgba(161, 62, 23, 1) 100%
  // );
  .main-nav {
    display: none;
    @include min-lg {
      display: flex;
      gap: 20px;
      a {
        font-family: $montserrat-500;
        font-size: 1.25rem;
        white-space: nowrap;
      }
      .nav-logo-desktop {
        img {
          max-height: 65px;
        }
        margin: 0 1rem;
      }
    }
  }
  .main-header-right-nav {
    display: none;
    svg {
      width: 26px;
      margin: 0 5px;
      cursor: pointer;
    }
    @include min-lg {
      display: flex;
    }
  }
  .mobile-nav {
    position: relative;
    @include min-lg {
      display: none;
    }
    button {
      background: none;
    }
    i {
      font-size: 25px;
    }
    .mobile-nav-logo {
      max-width: 200px;
    }
    .mobile-nav-right {
      justify-content: right;
      gap: 5px;
    }
  }
}

.page-container {
  padding-top: 74.98px;
  @include min-lg {
    padding-top: 86.72px;
  }
  @include min-xl {
    padding-top: 97.31px;
  }
}

.banner-slide {
  width: 100%;
  .slick-slide {
    height: auto; // ← that must not be ignored
  }
  .slick-track {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
  }
}

.category-box {
  @include bigger-block;
  position: relative;
  width: 100%;
  .category-box-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    color: white;
    padding: 1rem;
  }
}

.gallery-block {
  @include bigger-block();
}

.bigger-block {
  @include bigger-block();
}

.gallery-bg {
  position: absolute;
  top: 100px;
  left: -100px;
  z-index: -1;
  img {
    width: 200px;
  }
}

.gallery-bg-2 {
  position: absolute;
  top: 700px;
  right: -100px;
  z-index: -1;
  img {
    width: 200px;
  }
}
.gallery-bg-3 {
  position: absolute;
  top: 1300px;
  left: -100px;
  z-index: -1;
  img {
    width: 200px;
  }
}
.gallery-bg-4 {
  position: absolute;
  top: 1900px;
  right: -100px;
  z-index: -1;
  img {
    width: 200px;
  }
}
.gallery-bg-5 {
  position: absolute;
  top: 2500px;
  left: -100px;
  z-index: -1;
  img {
    width: 200px;
  }
}

/* the slides */
.slick-slide {
  margin: 0 10px;
  height: auto;
  margin-bottom: 1rem;
}

/* the parent */
.slick-list {
  margin: 0 -10px;
}

.gap-1 {
  gap: 5px;
}

.gap-2 {
  gap: 10px;
}

.size-btn {
  padding: 0 5px;
  background: none;
  border: 1px solid $pancharm-alt;
  cursor: pointer;
  transition: 0.2s background-color ease-in-out;
  &:hover {
    border: 1px solid $pancharm-main;
    color: white;
    background-color: $pancharm-main;
  }
}

.product-block {
  .product-header {
    background-color: $pancharm-main;
    color: white;
    padding: 0.5rem 20px;
  }
}

.product-content {
  margin-bottom: 1rem;
  .product-thumb {
    position: relative;
    opacity: 1;
    transition: 0.3s opacity ease-in-out;
    &:hover {
      opacity: 0.8;
    }
    .discount-tag {
      position: absolute;
      top: 10px;
      right: 10px;
    }
  }
  .product-info {
    flex-direction: column;
    gap: 5px;
    @include min-lg {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    .product-title {
      font-size: 1rem;
      cursor: pointer;
    }
    .product-icon {
      button {
        background: none;
        cursor: pointer;
        svg {
          transition: 0.3s color ease-in-out;
          &:hover {
            color: $pancharm-main;
          }
        }
      }
    }
  }
}

.discount-price {
  font-size: 0.85rem;
  color: $pancharm-main;
  text-decoration: line-through;
  font-style: italic;
}

#notifications {
  cursor: pointer;
  position: fixed;
  right: 0px;
  z-index: 9999;
  bottom: 0px;
  margin-bottom: 22px;
  margin-right: 15px;
  max-width: 300px;
}

.page-item.active {
  .page-link {
    background-color: $pancharm-main;
    border-color: $pancharm-main;
    color: white !important;
  }
}

.slick-initialized {
  overflow: hidden;
}

.swiper {
  width: 100%;
  height: auto;
}

.product-gallery {
  ul {
    list-style: none outside none;
    padding-left: 0;
    margin-bottom: 0;
  }
  li {
    display: block;
    float: left;
    margin-right: 6px;
    cursor: pointer;
  }
  img {
    display: block;
    height: auto;
    max-width: 100%;
  }
}

.lSSlideOuter .lSPager.lSGallery li.active,
.lSSlideOuter .lSPager.lSGallery li:hover {
  border: 1px solid $pancharm-main;
}

.product-info {
  .product-color-pick {
    display: flex;
    gap: 10px;
    align-items: center;
    .product-color {
      width: 30px;
      height: 30px;
      border-radius: 9999px;
      cursor: pointer;
      transition: 0.2s opacity ease-in-out;
      &.active {
        border: 2px solid black;
      }
      &:hover {
        opacity: 0.8;
      }
    }
    #product-color-1 {
      background-color: #a13e17;
    }
    #product-color-2 {
      background-color: darkslateblue;
    }
    #product-color-3 {
      background-color: black;
    }
    #product-color-4 {
      background-color: darkolivegreen;
    }
  }
  .product-size-pick {
    flex-direction: column;
    gap: 10px;
    align-items: baseline;
    .see-size-chart-btn {
      background: none;
      text-decoration: underline;
      cursor: pointer;
      font-style: italic;
    }
    @include min-md() {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
  }
  .product-quantity-pick {
    .quantity-btn {
      width: 30px;
      height: 30px;
      border: 1px solid black;
      font-weight: 600;
    }
    .quantity-input {
      width: 50px;
      padding: 0 10px;
      text-align: center;
      height: 30px;
    }
  }
}

#lightSlider {
  overflow-x: hidden;
}

.about-us {
  .about-us-logo {
    width: 100%;
  }
  h4 {
    font-size: 1rem;
    text-align: justify;
  }
  @include min-lg() {
    .about-us-logo {
      width: 25%;
    }
    h4 {
      font-size: 1.5rem;
      text-align: center;
    }
  }
}

.contact-us {
  .contact-area {
    background: #faeee9;
    .contact-area-label {
      color: $pancharm-alt;
      font-size: 1rem;
      font-weight: 700;
      display: block;
      margin-bottom: 0.25rem;
    }
    .contact-area-input {
      width: 100%;
      border: 1.5px solid rgba(90, 113, 132, 0.25);
      box-sizing: border-box;
      border-radius: 8px;
      padding: 15px 20px;
      margin-bottom: 10px;
      &:focus {
        border: 1px solid $pancharm-main;
        transition: 0.2s ease-in;
      }
    }
  }
  @keyframes cart-anm-t-b {
    0% {
      top: 18px;
    }
    100% {
      top: calc(100% - 50px);
    }
  }
  .contact-info {
    background: #faeee9;
    border: 1px solid #c5babd;
    box-sizing: border-box;
    filter: drop-shadow(2px 12px 70px rgba(0, 0, 0, 0.08));
    padding: 20px 15px;
    position: relative;
    &::before {
      width: 1px;
      height: 32px;
      position: absolute;
      content: "";
      background: $pancharm-main;
      left: -1px;
      animation: cart-anm-t-b 4s linear infinite alternate;
    }
  }
}

.faq {
  .card-header {
    background-color: #faeee9;
  }
  .faq-btn {
    width: 100%;
    text-align: left;
    background: none;
    font-weight: 600;
    &:focus {
      box-shadow: none;
    }
  }
}

.news-block {
  .news-thumb {
    height: 220px;
    img {
      height: 100%;
      object-fit: cover;
    }
  }
}

.cart-detail {
  .cart-detail-table {
    .cart-product-thumb {
      height: 100px;
      img {
        height: 100%;
        object-fit: cover;
      }
    }
    td {
      vertical-align: middle;
    }
    .cart-quantity-input {
      height: 40px;
      padding: 0 10px;
      margin-right: 5px;
      transition: 0.2 border ease-in-out;
      &:focus {
        border: 1px solid $pancharm-main !important;
      }
    }
    .cart-quantity-btn {
      width: 20px;
      height: 20px;
      cursor: pointer;
      transition: 0.2s background-color ease-in-out;
      transition: 0.1s color ease-in-out;
      &:hover {
        background-color: $pancharm-main;
        color: white;
      }
    }
    .cart-delete-btn {
      cursor: pointer;
      background: none;
    }
  }
  .discount-coupon-input {
    height: 50px;
    padding: 0 20px;
    &:focus {
      border: 1px solid $pancharm-main !important;
    }
  }
  .cart-total-price-list {
    text-align: left;
    @include min-lg() {
      text-align: right;
    }
  }
  .cart-nav-btn-group {
    gap: 10px;
  }
}

.go-to-top-btn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  button {
    background: none;
    width: 50px;
    height: 50px;
    background-color: $pancharm-alt;
    border: 1px solid $pancharm-alt;
    color: white;
    cursor: pointer;
    transition: 0.3s background-color ease-in-out;
    &:hover {
      background-color: $pancharm-main;
    }
  }
}

@-moz-keyframes quick-alo-circle-img-anim {
  0% {
    transform: rotate(0) scale(1) skew(1deg);
  }
  10% {
    -moz-transform: rotate(-25deg) scale(1) skew(1deg);
  }
  20% {
    -moz-transform: rotate(25deg) scale(1) skew(1deg);
  }
  30% {
    -moz-transform: rotate(-25deg) scale(1) skew(1deg);
  }
  40% {
    -moz-transform: rotate(25deg) scale(1) skew(1deg);
  }
  50% {
    -moz-transform: rotate(0) scale(1) skew(1deg);
  }
  100% {
    -moz-transform: rotate(0) scale(1) skew(1deg);
  }
}

@-webkit-keyframes quick-alo-circle-img-anim {
  0% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
  }
  10% {
    -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
  }
  20% {
    -webkit-transform: rotate(25deg) scale(1) skew(1deg);
  }
  30% {
    -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
  }
  40% {
    -webkit-transform: rotate(25deg) scale(1) skew(1deg);
  }
  50% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
  }
  100% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
  }
}

@-o-keyframes quick-alo-circle-img-anim {
  0% {
    -o-transform: rotate(0) scale(1) skew(1deg);
  }
  10% {
    -o-transform: rotate(-25deg) scale(1) skew(1deg);
  }
  20% {
    -o-transform: rotate(25deg) scale(1) skew(1deg);
  }
  30% {
    -o-transform: rotate(-25deg) scale(1) skew(1deg);
  }
  40% {
    -o-transform: rotate(25deg) scale(1) skew(1deg);
  }
  50% {
    -o-transform: rotate(0) scale(1) skew(1deg);
  }
  100% {
    -o-transform: rotate(0) scale(1) skew(1deg);
  }
}

.social-group {
  position: fixed;
  bottom: 20px;
  left: 20px;
  display: flex;
  @include min-lg() {
    flex-direction: column;
  }
  gap: 10px;
  a {
    cursor: pointer;
  }
  .phone {
    border-radius: 50%;
    background: #64bc46;
    margin-top: 0px;
    padding: 6px;
    animation: quick-alo-circle-img-anim 1s infinite ease-in-out;
  }
}
